i{
    float: right;
    color: #888;
    cursor: pointer;
}
span.title{
    font-weight: 900;
    font-size: 16px;
}

.checkbox-orange[type="checkbox"]:checked + label:before{
    border: 2px solid transparent;
    border-bottom: 2px solid orange;
    border-right: 2px solid orange;
    background: transparent;
}