<!--The content below is only a placeholder and can be replaced.-->
<nav id="orange">
    <div class="wrapper">
            <a routerLink="/todo" class="brand-logo right">Logo</a>
            <ul>
                <li>
                    <a href="#">
                        <i class="material-icons">home</i>
                    </a>
                </li>
                <li>
                    <a class="todo" routerLink="/todo"> To-Do</a>
                </li>
            </ul>
    </div>
</nav>
<router-outlet></router-outlet>


  