.ng-valid[required], .ng-valid .required  {
    border-bottom: 5px solid #42A948; /* green */
  }

.ng-invalid:not(form)  {
    border-bottom: 5px solid #a94442; /* red */
}

.form-control#form-orange:focus{
    border-bottom: 2px solid orange; 
    box-shadow: none; 
    -webkit-box-shadow: none; 
} 