<div class="flex-container">
  <form [formGroup]="todoForm">
    <h1> To-Do List</h1>
    <div id="flex-container-2" class="form-group">
      <input type="text" class="form-control" id="form-orange" name="todo" [formControl]="todoForm.get('todo')" *ngIf="isValid()"
        placeholder="What needs to be done?" required>
      <div *ngIf="todoForm.get('todo').errors && todoForm.get('todo').dirty && todoForm.get('todo').invalid && !todoForm.get('todo').touched"
        class="alert alert-danger">
        Fill is required
      </div>
    </div>
    <app-todo-list [todoList]="todoArray" (remove)="onRemoveTodo($event)"></app-todo-list>
    <div class="flex-button">
      <button class="input-group-text" (click)="addTodo()">
        <i class="material-icons">add</i>
      </button>
    </div>

  </form>
</div>
