/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

form{
    margin: 4em auto;
    width: 30em;
    height: auto;
    position: relative;
    background: #f4f4f4;
    padding: 2em;
    box-sizing: content-box;
}
form h1{
    font-family: "Raleway";
    color:#F97300; 
    text-align: center;
}
form input[type=text]::placeholder{
   font-family: "Raleway";
   color:#666; 
}

form .input-group-text{
    background: #F97300;
    border-radius: 60%;
    border: solid#F97300;
    height: 5em;
    padding: 1em 23px;
    color: #fff;
    position: absolute;
    right: 13px;
    top: 68px;
}
form .input-group-text i{
    font-size: 2em;
}
form .form-control{
    height: 3em;
    font-family: "Raleway";
}
form .form-control:focus{
 box-shadow: 0;
 
}
.flex-button{
    display: flex;
}


@media screen and (max-width: 600px),(max-width:800px){
    .flex-container{
        flex: 5 0px; 
        flex-direction: column;
    }
    form{
        margin: 5em auto;
        width: auto;
        height: auto;
    }
    form .input-group-text{
        background: #F97300;
        border-radius: 60%;
        border: solid#F97300;
        height: 5em;
        padding: 1em 15px;
        color: #fff;
        position: absolute;
        right: 13px;
        top: 68px;
    }
    form .input-group-text i{
        font-size: 2em;
    }

    
}

